.App {
  text-align: center;
  background: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contactus{
  text-align: center;
  color: white;

}
.singlepost{
  color: white;
  background-color: #343a40;
  padding: 50px;
  margin: 40px;
}
.jambo{
  margin-top: 15px;
  text-align: center;
  background-color: #343a40;
  color: white;
}
.form{
  color: white;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-right: 35%;
  margin-left: 35%;
  font-size: medium;
  border-radius: 50%;

}
.footer{
  background-color: #343a40;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: white;
  
}
.paginate {
  margin-top: 35px;
  padding-left: 35px;
  padding-bottom: 25px;
  color: #f7f7fd;
 
}
.paginationBttn{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttn a {
padding: 10px;
margin: 8px;
border-radius: 5px;
border: 1px solid white;
color: #f7f7fd; 
cursor: pointer;

}

.paginationBttn a:hover {
  color: white;
  background-color: #ababb4;
}

.paginationActive a {
  color: white;
  background-color: #fd2732;
}

