.App {
  text-align: center;
  background: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  border-radius: 5px;
  border: 1px solid blue;
}
.contactus{
  text-align: center;
  color: white;

}
.singlepost{
  color: white;
  background-color: #343a40;
  padding: 10px;
  margin: 40px;
  border: 1px solid blue;
  border-radius: 5px;
}
.jambo{
  margin-top: 15px;
  text-align: center;
  background-color: #343a40;
  border: 1px solid blue;
  color: white;
  border-radius: 5px;
}
.form{
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  font-size: medium;
  border: 1px solid blue;
  background-color: #343a40;
}
.footer{
  background-color: #343a40;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
  color: white;
  border: 1px solid blue;
}
.paginate {
  margin-top: 15px;
  margin-bottom: 35px;
  color: #f7f7fd;
}
.paginationBttn{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttn a {
padding: 10px;
margin: 8px;
border-radius: 5px;
border: 1px solid white;
color: #f7f7fd; 
cursor: pointer;

}

.paginationBttn a:hover {
  color: white;
  background-color: #ababb4;
}

.paginationActive a {
  color: white;
  background-color:#1d1f24;
}
.cardImg{
  height: 15rem;
  width: 100%;
}
.Cards{
  background-color:#3d4247;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid blue;
}
.singleImg{
  width: 100%;
  height: 25rem;
  border-radius: 10px;
}
